header {
    padding: 30px 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}
header::after {
    content: "";
    display: table;
    clear: both;
}

header a {
    color: #4C44C1;
    text-decoration: none;
}

header .logo{
    display: inline-block;
    float: left;
    margin-right: 28px;
}
header .logo img {
    width: 80px;
}
header .menu{
    display: inline-block;
    float: left;
    position: relative;
    top: 30px;
}
header .menu a {
text-transform: uppercase;
}
header .header-buttons{
    display: inline-block;
    float: right;
}

header .header-buttons .blue-btn{
    background: #6066F2;
    padding: 15px 45px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
    
}
header .header-buttons .fas{
    margin-left: 15px;
}
header .header-buttons .orange-btn{
    background: #FEA83B;
    padding: 15px 45px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
    position: relative;
    top: 30px;
   
}
@media only screen and (max-width: 1215px) {

}
@media only screen and (max-width: 960px) {
    
}
@media only screen and (max-width: 767px) {
    header .header-buttons{
        width: 100%;
        padding-top: 50px;
    }
    header .menu{
        display: inline-block;
        float: left;
        position: relative;
        top: 30px;
    }
}